<nav class="navbar navbar-default">
  <a class="navbar-brand" href='<%= landing_page_path %>'>Grab Bag</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
        <li><%= link_to "Public Folders", folders_path, class: 'nav-link' %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
          <li><%= link_to "My Profile", dashboard_path(current_user.username), class: 'nav-link' %></li>

          <li><a class="nav-link" href="facebook_logout_path">Logout</a></li>
        <% else %>
          <li><a class="nav-link" href="<%= facebook_login_path %>">Login With Facebook</a></li>
        <% end %>

    </ul>
  </div>
</nav>
