<nav class="navbar navbar-default">
  <a class="navbar-brand" href='<%= root_path %>'>Grab Bag</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav">
      <li>
        <a class="nav-link" href='folders_path'>Public Folders</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a class="nav-link" href="facebook_login_path">Login With Facebook</a>
      </li>
    </ul>
  </div>
</nav>
