<h1>File: <%= @binary.name %></h1>
<%= link_to 'Download', @binary.data_url, class: 'btn btn-primary' %>

<div class="preview">
<%= render_preview(@binary) %>
</div>

<%= render partial: 'shared/comments' %>