<h1><%= current_user.username %></h1>


<%= link_to "New Folder", new_users_folder_path(current_user.username) %>
<%= link_to "Upload File", new_binary_path(current_user.username, @current_folder.route)%>
